.profile-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    h3, h4, p{
        font-size: 1em;
    }
    .tag{
        cursor: pointer;
        font-size: 1.8em;
        font-weight: 600;
    }
    .image-container{
        overflow: hidden;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .profile-card{
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        &:hover{
            box-shadow: 0 0 5px #0007;
        }
        .personal{
            input{
                border: none;
                border-bottom: 1px solid black;
                font-size: 1em;
                &:focus{
                    outline: none;
                }
            }
            .image-button{
                margin-top: 10px;
                display: grid;
                align-items: top;
                grid-template-columns: auto 1fr auto;
                gap: 20px;
                div{
                    h1{
                        font-weight: 500;
                        font-size: 1.4em;
                    }
                    p{
                        color: #000a;
                    }
                }
                button, .button{
                    border-radius: 5px;
                    color: white;
                    border: none;
                    padding: 5px;
                    font-size: 1em;
                    width: 70px;
                    height: 50px;
                    display: grid;
                    place-items: center;
                    cursor: pointer;
                    height: min-content;
                    background-color: blue;
                }
            }
            .bio{
                margin: 10px 0;
                text-align: left;
                textarea{
                    font-size: 1em;
                    padding: 2.5px;
                }
            }
            .personal-details{
                display: flex;
                gap: 20px;
                div{
                    display: flex;
                    flex-direction: column;
                    width: min-content;
                    h3{
                        font-weight: 400;
                        color: #000a;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    h4{
                        font-weight: 500;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .team-details-tab{
            display: grid;
            grid-template-columns: auto 1fr auto;
            .team-details{
                display: flex;
                flex-direction: column;
                gap: 10px;
                flex-wrap: wrap;
            }
            .contacts{
                display: flex;
                flex-direction: column;
                gap: 5px;
                button{
                    padding: 5px;
                    border: none;
                    border-radius: 5px;
                    color: white;
                }
            }
        }
        .skills{
            ul{
                list-style-type: none;
                li{
                    font-size: 1.1em;
                }
            }
        }
        .work-schedule{
            p{
                span{
                    font-size: 1.05em;
                    font-weight: 700;
                }
            }
        }
    }
}