.page{
  display: grid;
  grid-template-columns: 250px auto;
  .left{
    height: 100vh;
  }
  .right{
    margin: 10px;
    padding: 10px;
    background-color: #ff6a0028;
    border-radius: 10px;
    &:hover{
      box-shadow: 0 0 5px #0007;
    }
    .pagination-nav{
      position: relative;
      top: 5px;
      padding: 10px 0;
      display: grid;
      place-items: center;
      .pagination{
        button{
          border: none;
          background-color: transparent;
          box-shadow: none;
        }
        list-style: none;
        display: flex;
        gap: 5px;
        align-items: center;
        .page-icon{
          position: relative;
          top: 2.5px;
          &:hover{
            color: rgb(255, 114, 63);
          }
        }
        .page-link{
          width: 25px;
          text-align: center;
          border-radius: 50%;
          height: 25px;
          background-color: orangered;
          cursor: pointer;
          &:hover{
            background-color: rgb(255, 114, 63);
            color: white;
          }
        }
        .disabled{
          color: rgba(0, 0, 0, 0.563);
          cursor:pointer;
          pointer-events: none;
          &:hover{
            color: rgba(0, 0, 0, 0.563);
            background-color: transparent;
          }
        }
        .current-page{
          color: white;
          pointer-events: none;
        }
      }
    }
  }
}
.button-loader {
  background-color: transparent;
  border: 5px solid #fd750e;
  border-radius: 50%;
  border-top: 5px solid rgb(233, 78, 22);
  padding: 4.5px;
  width: min-content;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
